<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayingSimpleVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0334AF21CE174D9006B70AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0334B0B1CE174D9006B70AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0334B161CE174D9006B70AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
